# Since the ".env.local" file is gitignored, you can use the ".env.example" file to
# build a new ".env.local" file when you clone the repo.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env.local" and populate it with your secrets.

GOOGLE_BOOKS_API_KEY=""